.row {
  margin: 0;
  padding: 5px;
}

.margin5 {
  margin: 5px;
}

.input-highlight {
  border: 1px solid rgba(255, 0, 0, 1);
  box-shadow: 0 0 10px rgba(255, 0, 0, 1);
}

.split, .gutter.gutter-horizontal {
  float: left;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
}
